@model IEnumerable<Blog.Domain.Entities.Postagem>

@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
    <div class="container">
        <div class="row">
            <partial name="_PostsPartial" model="@Model" />
        </div>
    </div>
</section>
