@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    
    <div class="col-lg-4 text-center text-lg-left">
        Olá @User.Identity?.Name!
    </div>
    <div class="col-lg-8 text-center text-lg-right">
        <ul class="list-inline">
            <li class="list-inline-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="list-inline-item custom-exit-button">Sair</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{

    <div class="col-lg-4 text-center text-lg-left">
    </div>
    <div class="col-lg-8 text-center text-lg-right">
        <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" asp-area="Identity" asp-page="/Account/Register">Registrar</a></li>
        </ul>
    </div>

}

